/* EMPTY LEFT SIDE*/

.emptyLeft{

    grid-area: emptyLeft;
}
/* INDEX */

.bigSection{
    justify-content: flex-start;
    padding-top: 20px;
    grid-area: bigSection;



    p.textoPrincipal{
        font-family: $font-secondary;
        font-size: 10rem;
        color: $textos;
        }
    p.textoSecundario{
        font-family: $font-primary;
        color: $textos;
        font-size: 3rem;
        }
}
#buttom{
    padding-top: 20px;

    img{
        transition: transform .4s ease-in-out;
    }
    img:hover{
        transform: scale(1.1);
        }
}

.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

.checkbtn, #check{
    display: none;
}
/* EMPTY RIGHT SIDE*/

.emptyRight{

    grid-area: emptyRight;
    color: $textos;
}

@media screen and (max-width: 768px){


        section.bigsection{
            display: flex;
            align-items: center;
            grid-column: 1 / 9;
        
        
            p.textoPrincipal{
                
                font-size: 6rem;
            
            }
            p.textoSecundario{        
                font-size: 2.5rem;
            }
        }
        .checkbtn{
            display: block;
        }

        .menu-icon{
            height: 70px;
            width: 70px;
            display: block;
            position: fixed;
            top: 30px;
            right: 20px;

            img{
                height: 70px;
                width: 70px;
            }
        }
    
        ul.menu{
            background-color: $principal;
            display: block;
            position: fixed;
            top: 100px;
            left: -100%;
            width: 100%;
            height: 100vh;
            right: 0;
            z-index: 10;
        }
        li.menu__item{
            background-color: $principal;
            font-size: 2rem;
            padding: 3rem;
            display: flex;
            justify-content: center;
            margin: 0;
        }

        #check:checked ~ ul{
            left: 0;

        }


    }
    
