/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBALS */

html {
    background-image: url(../public/img/layered-waves-haikei.svg);
    background-size: 100%;
    font-size: 62.5%;
    font-family: $font-primary
}
ul{
    list-style-type: none
}
a{
    text-decoration: none;
    color: #E5E5E5;
    display: inline-block;
}
body{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 125px 600px 70px;
    grid-template-areas: 
    "emptyLeft header header header header header header emptyRight"
    "emptyLeft bigSection bigSection bigSection bigSection bigSection bigSection emptyRight"
    "emptyLeft footer footer footer footer footer footer emptyRight";

}
@media screen and (max-width: 768px) {
    /* BODY */

    body{
        background-color: $principal;}
        
    }